.TextEditor {
    .ant-tabs-content {
        height: 100%;
        min-height: 100%;
    }

    .ant-tabs-nav-list {
        margin-left: 12px;
    }

    .ant-tabs-tab {
        padding: 12px 10px;
    }
}
